<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>Data-to-Text Annotation Tool</title>
</head>
<body>
    <h1>Data-to-Text Annotation Tool</h1>
    {{ data_frame|safe }}
    <form action="/submit" method="post">
        <label for="text">Enter your text:</label>
        <br>
        <textarea type="text" id="text" name="text" rows="5" cols="60"></textarea>
        <br>

        <form action="/" method="get">
            <button type="submit" name="next" class="btn btn-primary">
              Next <i class="fas fa-arrow-right"></i>
            </button>
        </form>

    </form>
</body>
</html>
